{% extends "layout.html" %}

{% block body %}
    <div class="container">
        
        {% if messages %}
            <div class="alert alert-primary" role="alert" style="text-align: center;">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}

        <h1>Detalle del Turno</h1>
        <ul>
            <li><strong>Paciente:</strong> {{ turno.paciente.nombre }} {{ turno.paciente.apellido }}</li>
            <li><strong>Profesional Médico:</strong> {{ turno.user.get_username }}</li>
            <li><strong>Fecha:</strong> {{ turno.fecha }}</li>
            <li><strong>Hora:</strong> {{ turno.hora }}</li>
            <li><strong>Asistencia:</strong> {{ turno.asistencia.nombre }}</li>
        </ul>

        <a href="{% url 'turnosindex' %}" class="btn btn-primary">Volver</a>

        {% if request.session.tipousuario_id == 2 %} <!-- Solo puede cambiar el estado de asistencia el Tipo de Usuarios Médico -->
            <a href="{% url 'turnoasistencia' turno.id 2 %}" class="btn btn-success">Cambiar Estado a Si Asistió</a>
            <a href="{% url 'turnoasistencia' turno.id 3 %}" class="btn btn-danger">Cambiar Estado a No Asistió</a>
        {% endif %}

    </div>
{% endblock %}