{% extends "layout.html" %}

{% block body %}
    <div class="container">
        <div class="muestra">
            <h2>Detalle del Registro del Historial</h2>
            <ul>
                <li><strong>Título:</strong> {{ historial.titulo }}</li>
                <li><strong>Creado:</strong> {{ historial.created_at }}</li>
                <li><strong>Detalle:</strong> {{ historial.detalle }}</li>
            </ul>
            <a href="{% url 'pacienteshow' historial.paciente_id %}" class="btn btn-secondary">Volver</a>
        </div>
    </div>
{% endblock %}