<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/clinica.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <title>Clínica</title>
    </head>
    <body>
        <header style="margin-bottom: 5rem;">
            <nav class="navbar navbar-expand-xl navbar-dark fixed-top bg-dark">
                <div class="container">
                    <div>
                        <img style="width: 34px; height: 34px;" alt="Icono" src="{% static 'images/icon.png' %}"/>
                    </div>
                    <a class="navbar-brand" href="#" style="margin-left:10px">Clínica Oftalmológica</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            {% if request.user.id %}
                                <li class="nav-item">
                                    <a href="{% url 'turnosindex' %}" class="nav-item nav-link">Ver Turnos</a>
                                </li>
                                {% if request.user.id %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
                                        <div class="dropdown-menu">
                                            <a href="{% url 'categoriasindex' %}" class="dropdown-item">Categorias</a>
                                            <a href="{% url 'productosindex' %}" class="dropdown-item">Productos</a>
                                            <a href="{% url 'pedidosindex' %}" class="dropdown-item">Pedidos</a>
                                            <a href="{% url 'pacientesindex' %}" class="dropdown-item">Pacientes</a>
                                        </div>
                                    </li>
                                {% endif %}
                                {% if request.user.id %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reportes</a>
                                        <div class="dropdown-menu">
                                            <a href="{% url 'reportepacientes' 2 1 %}" class="dropdown-item">Pacientes que asistieron a los turnos en la semana</a>
                                            <a href="{% url 'reportepacientes' 2 2 %}" class="dropdown-item">Pacientes que asistieron a los turnos en el mes</a>
                                            <a href="{% url 'reportepacientes' 3 1 %}" class="dropdown-item">Pacientes que no asistieron a los turnos en la semana</a>
                                            <a href="{% url 'reportepacientes' 3 2 %}" class="dropdown-item">Pacientes que no asistieron a los turnos en el mes</a>
                                            <a href="{% url 'reportepacientespedidos' 1 %}" class="dropdown-item">Pacientes que hicieron pedidos en la semana</a>
                                            <a href="{% url 'reportepacientespedidos' 2 %}" class="dropdown-item">Pacientes que hicieron pedidos en el mes</a>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                        <!--lado derecho-->
                        <div class="navbar-nav">
                            {% if request.user.id %}
                                <div class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user.username }} ({{ request.session.tipousuario }})</a>
                                    <div class="dropdown-menu">
                                        <a href="{% url 'logout' %}" class="dropdown-item">Salir</a>
                                    </div>
                                </div>
                            {% else %}
                                <a href="{% url 'login' %}" class="nav-item nav-link">Ingresar</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        {% block body %}
        {% endblock %}

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>