{% extends "layout.html" %}

{% block body %}
    <div class="container">

        {% if messages %}
            <div class="alert alert-primary" role="alert" style="text-align: center;">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}

        <h1>Detalle del Pedido</h1>
        <ul>
            <li><strong>N°:</strong> {{pedido.id }}</li>
            <li><strong>Fecha de Entrega:</strong> {{ pedido.fechaentrega }}</li>
            <li><strong>Vendedor:</strong> {{ pedido.user.get_username }}</li>
            <li><strong>Paciente:</strong> {{ pedido.paciente.nombre }}</li>
            <li><strong>Estado:</strong> {{ pedido.estado.nombre }}</li>
            {% if request.session.tipousuario_id != 4 %} <!-- Tipo de Usuarios Taller no visualizan los precios -->
                <li><strong>Total:</strong> {{ pedido.total }}$</li>
            {% endif %}
            <li><strong>Tipo de Pago:</strong> {{ pedido.tipopago.nombre }}</li>
        </ul>

        {% if request.session.tipousuario_id == 3 %} <!-- Tipo de Usuarios Ventas-->
            <a href="{% url 'pedidosupdate' pedido.id %}" class="btn btn-primary">Modificar Datos del Pedido</a>
            <a href="{% url 'pedidoestado' pedido.id 2 %}" class="btn btn-success">Cambiar Estado a Pedido</a>
            <a href="{% url 'pedidoestado' pedido.id 3 %}" class="btn btn-success">Cambiar Estado a Taller</a>
        {% endif %}

        {% if request.session.tipousuario_id == 4 %} <!-- Tipo de Usuarios Taller-->
            <a href="{% url 'pedidoestado' pedido.id 4 %}" class="btn btn-success">Cambiar Estado a Finalizado</a>
        {% endif %}

        {% if items %}

            <h1>Items</h1>
    
            <table class="table table-sm table-striped table-borderless">
                <thead class="table-dark">
                    <tr>
                        <th>Cantidad</th>
                        <th>Producto</th>
                        {% if request.session.tipousuario_id != 4 %} <!-- Tipo de Usuarios Taller no visualizan los precios -->
                            <th>Precio Unitario</th>
                            <th>Subtotal</th>
                        {% endif %}
                        <th>Distancia Focal</th>
                        <th>Armazon</th>
                        <th>Lado</th>
                        {% if request.session.tipousuario_id != 4 %} <!-- Tipo de Usuarios Taller no puede eliminar items del pedido -->
                            <th></th>
                        {% endif %}
                    </tr>
                </thead>
            
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.cantidad }}</td>
                            <td>{{ item.producto.nombre }}</td>
                            {% if request.session.tipousuario_id != 4 %} <!-- Tipo de Usuarios Taller no visualizan los precios -->
                                <td>{{ item.producto.precio }}$</td>
                                <td>{% widthratio item.producto.precio 1 item.cantidad %}$</td>
                            {% endif %}
                            <td>{{ item.distancia }}</td>
                            <td>{{ item.armazon }}</td>
                            <td>{{ item.lado }}</td>
                            {% if request.session.tipousuario_id != 4 %} <!-- Tipo de Usuarios Taller no puede eliminar items del pedido -->
                                <td style="width: 10%;">
                                    <a href="{% url 'itemdelete' item.id %}" class="btn btn-danger btn-sm botones-index">Eliminar</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% endif %}
        
        {% if request.session.tipousuario_id != 4 %} <!-- Tipo de Usuarios Taller no puede agregar items al pedido -->
            <h1>Cargar Item:</h1>
            <form action="{% url 'pedidoshow' pedido.id %}" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="form-group" style="margin-top: 1rem;">
                    <input type="submit", class="btn btn-primary">
                </div>
            </form>
        {% endif %}

        <a href="{% url 'pedidosindex' %}" class="btn btn-primary">Volver</a>
    </div>

    {% if request.session.tipousuario_id != 4 %} <!-- Tipo de Usuarios Taller no puede agregar items al pedido -->
        <script>
            // Esperamos a que se cargue el DOM
            document.addEventListener('DOMContentLoaded', function() {

                // Ocultamos los labels de las listas deplegables correspondientes a la clase lentes 
                $('label[for="id_lado"]').hide ();
                $('label[for="id_distancia"]').hide ();
                $('label[for="id_armazon"]').hide ();
        
                let producto = document.getElementById('id_producto');
                producto.addEventListener('change', (event) => {

                    // Tomamos el Id del Producto de la lista desplegable y hademos una consulta get para obtener el id de la categoria de ese producto
                    $.ajax({
                        type: "GET",
                        url: "{% url 'consulta' %}",
                        data: {
                            "check_this": producto.value,
                        },
                        success: function(data){
                            console.log("Consulta Exitosa");
                            console.log("Categoría Id:" + data.result);
                            if ( data.result == 1 ){
                                // Mostramos la lista desplegable del lado
                                document.getElementById('id_lado').style.display = 'block';
                                $('label[for="id_lado"]').show ();
                                // Mostramos la lista desplegable de la distancia
                                document.getElementById('id_distancia').style.display = 'block';
                                $('label[for="id_distancia"]').show ();
                                // Mostramos la lista desplegable del armazon
                                document.getElementById('id_armazon').style.display = 'block';
                                $('label[for="id_armazon"]').show ();
                            }else{
                                // Ocultamos la lista desplegable del lado
                                document.getElementById('id_lado').style.display = 'none'; 
                                $('label[for="id_lado"]').hide ();
                                // Ocultamos la lista desplegable de la distancia
                                document.getElementById('id_distancia').style.display = 'none'; 
                                $('label[for="id_distancia"]').hide ();
                                // Ocultamos la lista desplegable del armazon
                                document.getElementById('id_armazon').style.display = 'none'; 
                                $('label[for="id_armazon"]').hide ();
                            }
                        },
                        failure: function(data){
                            console.log("Hubo un error en la obtención del id de la categoría");
                        },
                    });
                });
            });
        </script>
    {% endif %}

{% endblock %}