{% extends "layout.html" %}

{% block body %}
    <div class="container">

        {% if messages %}
            <div class="alert alert-primary" role="alert" style="text-align: center;">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}

        <h1>Pacientes</h1>
        
        <table class="table table-sm table-striped table-borderless" >
            <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
                <th>Teléfono</th>
                <th>E-Mail</th>
                <th>Dirección</th>
                <th>Usuario</th>
                <th></th>
            </tr>
            </thead>
        
            <tbody>
                {% for paciente in pacientes %}
                    <tr>
                    <td>{{ paciente.nombre }}</td>
                    <td>{{ paciente.apellido }}</td>
                    <td>{{ paciente.dni }}</td>
                    <td>{{ paciente.telefono }}</td>
                    <td>{{ paciente.email }}</td>
                    <td>{{ paciente.direccion }}</td>
                    <td>{{ paciente.user.get_username }}</td>
                    <td style="width: 25%;">
                        <a href="{% url 'pacienteshow' paciente.id %}" class="btn btn-primary btn-sm botones-index">Detalle</a>
                        <a href="{% url 'pacientesupdate' paciente.id %}" class="btn btn-primary btn-sm botones-index">Modificar</a>
                        <a href="{% url 'pacientesdelete' paciente.id %}" class="btn btn-danger btn-sm botones-index">Eliminar</a>
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'pacientescargar' %}" class="btn btn-primary">Nuevo Paciente</a>
    </div>
    
{% endblock %}