{% extends "layout.html" %}

{% block body %}
    <div class="container">

        {% if messages %}
            <div class="alert alert-primary" role="alert" style="text-align: center;">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        <div class="muestra" style="margin-bottom: 1rem;">
            <h2>Detalle del Paciente</h2>
            <ul>
                <li><strong>Nombre:</strong> {{ paciente.nombre }}</li>
                <li><strong>Apellido:</strong> {{ paciente.apellido }}</li>
                <li><strong>DNI:</strong> {{ paciente.dni }}</li>
                <li><strong>Teléfono:</strong> {{ paciente.telefono }}</li>
                <li><strong>Dirección:</strong> {{ paciente.direccion }}</li>
                <li><strong>E-Mail:</strong> {{ paciente.email }}</li>
                <li><strong>Ingresado por:</strong> {{ paciente.user.get_username }}</li>
            </ul>
            {% if request.session.tipousuario_id == 1 or request.session.tipousuario_id == 5 %} <!-- Vuelve hacia el index de pacientes -->
                <a href="{% url 'pacientesindex' %}" class="btn btn-secondary">Volver</a>
            {% endif %}
            {% if request.session.tipousuario_id == 2 %} <!-- Vuelve hacia el filtro de turnos -->
                <a href="{% url 'turnosindex' %}" class="btn btn-secondary">Volver</a>
            {% endif %}
        </div>
        {% if request.session.tipousuario_id == 2 or request.session.tipousuario_id == 5 %} <!-- Solo puede ver el historial médico el tipo usuario médico y la gerencia -->
            {% if historiales %}

                <h2>Historial</h2>
        
                <table class="table table-sm table-striped table-borderless">
                    <thead class="table-dark">
                        <tr>
                            <th>Fecha</th>
                            <th>Título</th>
                            <th></th>
                        </tr>
                    </thead>
                
                    <tbody>
                        {% for historial in historiales %}
                            <tr>
                                <td>{{ historial.created_at }}</td>
                                <td>{{ historial.titulo }}</td>
                                <td style="width: 25%;">
                                    <a href="{% url 'historialshow' historial.id %}" class="btn btn-primary btn-sm botones-index">Detalle</a>
                                    <a href="{% url 'historialupdate' historial.id %}" class="btn btn-primary btn-sm botones-index">Modificar</a>
                                    <a href="{% url 'historialdelete' historial.id %}" class="btn btn-danger btn-sm botones-index">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            {% endif %}
            
            <div class="formulario">
                <h2>Añadir Registro al Historial:</h2>
                <form action="{% url 'pacienteshow' paciente.id %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <div class="form-group" style="margin-top: 1rem;">
                        <input type="submit", class="btn btn-primary">
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}