{% extends "layout.html" %}

{% block body %}
    <div class="container">
        <h1>Detalle del Paciente</h1>
        <ul>
            <li><strong>Nombre:</strong> {{ paciente.nombre }}</li>
            <li><strong>Apellido:</strong> {{ paciente.apellido }}</li>
            <li><strong>DNI:</strong> {{ paciente.dni }}</li>
            <li><strong>Teléfono:</strong> {{ paciente.telefono }}</li>
            <li><strong>Dirección:</strong> {{ paciente.direccion }}</li>
            <li><strong>E-Mail:</strong> {{ paciente.email }}</li>
            <li><strong>Ingresado por:</strong> {{ paciente.user.get_username }}</li>
        </ul>
        <a href="{% url 'pacientesindex' %}" class="btn btn-primary">Volver</a>
    </div>
{% endblock %}